<div class="input-group">
  <span class="input-group-addon">Num cluster</span>
  <input type="text"
         class="form-control"
         ng-model="numCluster"></input>
  <span class="input-group-addon">Iteration</span>
  <input type="text"
         class="form-control"
         ng-model="iteration"></input>
  <span class="input-group-btn">
    <button class="btn btn-default"
            type="button"
            ng-click="run='running'">
      <span ng-show="run==='idle'">Run</span>
      <span ng-show="run!=='idle'"><i class="fa fa-spinner fa-spin"> </i></span>
    </button>
  </span>  
</div>
<br />
<div>
  <pre>
{{result}}
  </pre>
</div>
